<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>

      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active" aria-current="page" style="background-color: #176B87">Home</a></li>
        <li class="nav-item"><a href="#portfolio" class="nav-link" style="color: #176B87">Projects</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link" style="color: #176B87">Contact</a></li>
      </ul>
    </header>
  </div>

