<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
  .card{
    width: 100%;
    height: 425px;
  }

  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .col {
     padding-bottom: 20px
  }
</style>

<!-- Projects -->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="display-5 fw-bold text-body-emphasis">Projects</h3>
        <p class="lead text-body-secondary">Here are some examples of projects that I created. They are ranging from data
          science projects to simple games. All of them are also available on my GitHub account.</p>
        <p>
          <a href="https://github.com/ElisabethSalletmaier" class="btn btn-light my-2" target="_blank">Follow me on GitHub</a>
        </p>
      </div>
    </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">

        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/assets/spacex-uj3hvdfQujI-unsplash.jpg" class="card-img-top" alt="a starting rocket">
              <div class="card-img-overlay">
                <h3 class="card-title text-light">Space Race</h3>
              </div>
              <div class="overlay">
                <h4 class="text">This data science project analyses and visualises the space missions of different
                  countries from the late 1950s until 2020.</h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Portfolio-Space-Race-Data-Science-Project" target="_blank">View on GitHub
                  </a>
              </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/assets/daan-evers-tKN1WXrzQ3s-unsplash.jpg" class="card-img-top" alt="busy cafe">
              <div class="card-img-overlay">
                <h3 class="card-title text-light">Coffee & Work</h3>
              </div>
              <div class="overlay">
                <h4 class="text">This website rates Cafés how 'laptopfriendly' they are. Based on that people can decide
                  whether it is worth going there for a work session.
                   </h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Website_Coffee_and_Work" target="_blank">View on GitHub
                  </a>
              </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/assets/spenser-h-OxJxV4qakx0-unsplash.jpg"" class="card-img-top" alt="Albert Einstein">
              <div class="card-img-overlay">
                <h3 class="card-title text-light">Fatal Force</h3>
              </div>
              <div class="overlay">
                <h4 class="text">This data science project analyses the killings by police in the US.</h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Fatal-Force-Data-Science-Project-Project" target="_blank">View on GitHub
                  </a>
              </div>
          </div>
        </div>

     <div class="col">
          <div class="card shadow-sm">
            <img src="./static/assets/fidias-cervantes-oHW-2VFNg-Q-unsplash.jpg" class="card-img-top" alt="snake with black background">
              <div class="card-img-overlay">
                <h3 class="card-title text-light">Snake Game</h3>
              </div>
              <div class="overlay">
                <h4 class="text">Reproduction of the famous nokia snake game: control  the head of the snake until you manage to eat the turtle.</h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Portfolio-Snake-Game" target="_blank">View on GitHub
                  </a>
              </div>
          </div>
        </div>

        <div class="col">
              <div class="card shadow-sm">
                <img src="./static/assets/rebecca-lawrence-PGd76qpuh18-unsplash.jpg" class="card-img-top" alt="a ping pong in a colourful surrounding">
                  <div class="card-img-overlay">
                    <h3 class="card-title text-light">Pong Game</h3>
                  </div>
                  <div class="overlay">
                    <h4 class="text">Reproduction of the pong game. Pong is a "tennis like" game that features two paddles
              and a ball.</h4>
                      <a class="button btn btn-light my-1"
                         href="https://github.com/ElisabethSalletmaier/Portfolio-Pong-Game" target="_blank">View on GitHub
                      </a>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  </section>
