<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
  .overlay{
    border-radius: 5px
  }
</style>


  <!-- Projects -->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="display-5 fw-bold text-body-emphasis">Projects</h3>
        <p class="lead text-body-secondary">Here are some examples of projects that I created. They are ranging from data
          science projects to simple games. All of them are also available on my GitHub account.</p>
        <p>
          <a href="https://github.com/ElisabethSalletmaier" class="btn btn-light my-2">Follow me on GitHub</a>
        </p>
      </div>
    </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

        <div class="col">
          <div class="card shadow-sm" style="width: 100% ">
            <img src="./static/assets/spacex-uj3hvdfQujI-unsplash.jpg" class="card-img-top" alt="a starting rocket" style="border-radius: 5px">
              <div class="card-img-overlay">
                <h3 class="card-title text-light" style="x: 40% y=40% fill=#eceeef dy=3em">Space Race</h3>
              </div>
              <div class="overlay">
                <h4 class="text">This data science project analyses and visualises the space missions of different
                  countries from the late 1950s until 2020.</h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Portfolio-Space-Race-Data-Science-Project">View on GitHub
                  </a>
              </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="width: 100% ">
            <img src="./static/assets/taton-moise-zWQ7zsBr5WU-unsplash.jpg" class="card-img-top" alt="Albert Einstein" style="border-radius: 5px">
              <div class="card-img-overlay">
                <h3 class="card-title text-light" style="x: 40% y=40% fill=#eceeef dy=3em">Nobel Prize</h3>
              </div>
              <div class="overlay">
                <h4 class="text">This data science project is a basic analysis of a dataset on the past winners of the Nobel Prize.</h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Portfolio-Analysing-the-Nobel-Prize---Data-Science-Project">View on GitHub
                  </a>
              </div>
          </div>
        </div>

     <div class="col">
          <div class="card shadow-sm" style="width: 100% ">
            <img src="./static/assets/sigmund-By-tZImt0Ms-unsplash.jpg" class="card-img-top" alt="written words game over" height="455" style="border-radius: 5px">
              <div class="card-img-overlay">
                <h3 class="card-title text-light" style="x: 50% y=40% fill=#eceeef dy=3em">Snake Game</h3>
              </div>
              <div class="overlay">
                <h4 class="text">Reproduction of the famous nokia snake game: control  the head of the snake until you manage to eat the turtle.</h4>
                  <a class="button btn btn-light my-1"
                     href="https://github.com/ElisabethSalletmaier/Portfolio-Snake-Game">View on GitHub
                  </a>
              </div>
          </div>
        </div>

        <div class="col">
              <div class="card shadow-sm" style="width: 100%">
                <img src="./static/assets/rebecca-lawrence-PGd76qpuh18-unsplash.jpg" class="card-img-top" alt="a ping pong in a colourful surrounding" style="border-radius: 5px">
                  <div class="card-img-overlay">
                    <h3 class="card-title text-light" style="x: 40% y=40% fill=#eceeef dy=3em">Pong Game</h3>
                  </div>
                  <div class="overlay">
                    <h4 class="text">Reproduction of the pong game. Pong is a "tennis like" game that features two paddles
              and a ball.</h4>
                      <a class="button btn btn-light my-1"
                         href="https://github.com/ElisabethSalletmaier/Portfolio-Pong-Game">View on GitHub
                      </a>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  </section>